//Neutralisers --------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

@media print {
  body {
    background-color: transparent;
  }
}

//Responsiveness ---------------------
// $xxl: 1536px;
$xl: 1440px;
$lg: 1024px;
$md: 900px;
$sm: 740px;
$xs: 500px;

//Spacing ------------------------------
$space-1100: 88px;
$space-500: 40px;
$space-400: 32px;
$space-300: 24px;
$space-200: 16px;
$space-150: 12px;
$space-100: 8px;
$space-50: 4px;

//Layout
@mixin flex($direction: row, $gap: $space-300) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  gap: $gap;
}

//Colors -------------------------
$red: #c73b0f;
$green: #1ea575;
$black: #000000;
$white: #ffffff;
$rose-900: #260f08;
$rose-500: #87635a;
$rose-400: #ad8a85;
$rose-300: #caafa7;
$rose-100: #f5eeec;
$rose-50: #fcf8f6;

//Fonts -------------------------
$font: "Red Hat Text", sans-serif;

@mixin text-preset($weight, $size, $line-height) {
  font: {
    family: $font;
    weight: $weight;
    size: $size;
  }
  line-height: $line-height;
  letter-spacing: 0px;
}

.text-preset-1 {
  @include text-preset(900, 56px, 120%);
}
.text-preset-2 {
  @include text-preset(900, 24px, 125%);
}
.text-preset-3 {
  @include text-preset(600, 16px, 150%);
}
.text-preset-4 {
  @include text-preset(400, 14px, 150%);
}
.text-preset-4-bold {
  @include text-preset(600, 14px, 150%);
}

//Components
#root {
  background-color: $rose-50;
  padding: $space-1100 105px;

  @media (max-width: $md) {
    padding: $space-500;
  }

  @media (max-width: $xs) {
    padding: $space-300;
  }
}
//Test ---------------------------------
// div {
//   border: 1px dotted red;
// }
