@import "./theme";

.cart-item {
  .hide-desktop {
    @media (max-width: $md) {
      display: none;
    }
  }

  .hide-tablet {
    @media (max-width: $xs), (min-width: calc($md + 1px)) {
      display: none;
    }
  }

  .hide-mobile {
    @media (min-width: $xs) {
      display: none;
    }
  }

  @include flex($direction: column, $gap: $space-200);

  .cart-img-add-btn {
    @include flex($direction: column, $gap: 0);
    align-items: center;
    position: relative;
    margin-bottom: calc($space-300 - 2px);

    .cart--image {
      width: 250px;
      height: 240px;
      border-radius: 15px;

      @media (max-width: $md) {
        width: 213px;
        height: 212px;
      }

      @media (max-width: $xs) {
        width: 327px;
        height: 212px;
      }
    }

    .cart--button {
      position: absolute;
      bottom: calc(($space-300 - 2px) * -1);
      @include flex($gap: $space-100);

      padding: $space-150 $space-300;
      border-radius: $space-300;
      border: 1px solid $rose-400;
      background-color: $white;

      .cart-button--p {
        @extend .text-preset-4-bold;
      }
    }
  }

  .cart-card-texts {
    @include flex($direction: column, $gap: $space-50);

    .cart--category {
      @extend .text-preset-4;
      color: $rose-500;
    }

    .cart--name {
      @extend .text-preset-3;
      color: $rose-900;
    }

    .cart--price {
      @extend .text-preset-3;
      color: $red;
    }
  }
}
