@import "./theme";

.cart-order {
  @include flex($direction: column, $gap: $space-300);

  height: fit-content;
  padding: $space-300;

  background-color: $white;
  border-radius: $space-150;

  width: 336px;
  @media (max-width: $md) {
    width: 100%;
  }

  .cart-order--h2 {
    @extend .text-preset-2;
    color: $red;
  }

  .cart-order-items {
    @include flex($direction: column, $gap: $space-300);

    .cart-order-item {
      @include flex();
      justify-content: space-between;
      align-items: center;

      padding-bottom: $space-200;
      border-bottom: 1px solid $rose-100;

      .cart-item-details {
        @include flex($direction: column, $gap: $space-100);

        .cart-order--name {
          @extend .text-preset-4-bold;
          color: $rose-900;
        }

        .cart-item-rates {
          @include flex($gap: $space-100);

          .cart-item--quantity {
            @extend .text-preset-4-bold;
            color: $red;
          }

          .cart-item--price {
            @extend .text-preset-4;
            color: $rose-500;
          }

          .cart-item--total {
            @extend .text-preset-4-bold;
            color: $rose-500;
          }
        }
      }

      .cart-item--close-btn {
        height: 20px;
        width: 20px;

        border-radius: 50%;
        background-color: inherit;
        border: 1px solid $rose-400;
        color: $rose-400;
      }
    }
  }

  .cart-total {
    display: flex;
    .cart-total--label {
      @extend .text-preset-4;
      color: $rose-900;
    }

    .cart-total--price {
      margin-left: auto;

      @extend .text-preset-2;
      color: $rose-900;
    }
  }

  .cart-carbon {
    @include flex($gap: $space-50);
    justify-content: center;

    padding: $space-200 0;

    background-color: $rose-50;
    border-radius: $space-100;

    .cart-carbon--p {
      @extend .text-preset-4;
      color: $rose-900;
    }
  }

  .cart-oder--confirm-btn {
    padding: $space-200 0;
    justify-content: center;

    border-radius: $space-400;
    border: none;
    background-color: $red;

    @extend .text-preset-3;
    color: $white;
  }
}
